.inputs_wrapper {
    margin: 0 auto;
    display: flex;
    margin: 25px 15px;
    justify-content: center;

    button {
        padding:5px;
        margin-left:10px;
        background: #3f51b5;
        border: 0;
        color: white;
        font-weight: 600;
    }
    input {
        padding: 4px;
    }
}
.filescontent {
    display: flex;
    justify-content: center;

    textarea {
        width: 100vw;
        height: 100vh;
    }
}
.trash{
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    img{
        width: 100px;
        padding: 15px;   
    }
}
